{# invitations/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Invitations index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Invitations index</h1>

        <form method="get" action="{{ path('search_invitations') }}" class="form-inline mb-3">
            <div class="form-group mr-2">
                <label for="emailInput" class="sr-only">Email</label>
                <input type="text" id="emailInput" name="email" class="form-control" placeholder="Search by Email">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Idinvi</th>
                    <th>EmailDestinataireinv</th>
                    <th>Emailinv</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for invitation in invitations %}
                    <tr>
                        <td>{{ invitation.idinvi }}</td>
                        <td>{{ invitation.EmailDestinataireinv }}</td>
                        <td>{{ invitation.Emailinv }}</td>
                        <td>{{ invitation.Status }}</td>
                        <td>
                            <a href="{{ path('app_invitations_show', {'idinvi': invitation.idinvi}) }}" class="btn btn-secondary btn-sm">Show</a>
                            <a href="{{ path('app_invitations_edit', {'idinvi': invitation.idinvi}) }}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="{{ path('app_invitations_accept', {'idinvi': invitation.idinvi}) }}" class="btn btn-success btn-sm">Accept</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_invitations_new') }}" class="btn btn-create-new btn-success">Create new</a>
    </div>
{% endblock %}