{{ form_start(medecinForm) }}


 {{ form_widget(medecinForm) }}
{{ form_widget(reservasionForm) }}




    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

   









{{ form_end(medecinForm) }}