
       {% extends 'TempHamza/front.html.twig' %}
        
        {% block body %}
   <div class="container">
   <br>
<center>
    <h1 style="color: #A0BCF1;">Prendre un rendez-vous</h1>
</center>






<br> <br> 




         {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.pays) }}
                    {{ form_row(form.specialite) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}






<br> <br> <br>
<br> <br><br> <br>


<style>
    div {
        text-align: center;
    }
</style>

<div>
    <style>
        table {
            width: 100%;
            border: 3px solid #B7CCF4;
        }
        td {
            text-align: center;
            padding: 10px;
        }
    </style>
    <table class="table text-nowrap mb-0 align-middle">
        <thead class="table-secondary">
            <tr>
                <th scope="col" class="col-2">Image</th>
                <th scope="col" class="col-2">Nom</th>
                <th scope="col" class="col-2">Prénom</th>
                <th scope="col" class="col-2">Spécialité</th>
                <th scope="col" class="col-2">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for medecin in medecin %}
                <tr>
                    <td>
                        {% if medecin.image %}
                            <img src="{{ asset(medecin.image) }}" alt="Image du médecin">
                        {% else %}
                            Aucune image disponible
                        {% endif %}
                    </td>
                    <td>{{ medecin.nom }}</td>
                    <td>{{ medecin.prenom }}</td>
                    <td>{{ medecin.specialite }}</td>


            <td>
            
            
<a href="{{ path('app_Fform_new', {'id': medecin.id}) }}"><button class="btn btn-primary">Reserver</button></a>


            
            </td>


                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</div>


{% endblock %}

